:root {
  --pink-primary: #f296cd;
  --background-primary: #fbe2f2;
  --link-purple-primary: #6e144a;
}

html {
  --antd-wave-shadow-color: #f296cd !important;
}

@font-face {
  font-family: KoodakBold;
  src: url(../../../assets/font/KoodakBold.eot);
  src: url(../../../assets/font/KoodakBold.eot) format("KoodakBold-opentype"),
    url(../../../assets/font/KoodakBold.woff) format("woff"),
    url(../../../assets/font/KoodakBold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  /* unicode-bidi: bidi-override;
  direction: rtl;
  unicode-bidi: embed; */
  color: var(--link-purple-primary) !important;
  font-size: 17px;
  font-family: "KoodakBold";
  text-align: right;
  /* overflow-x: hidden; */
}

.rtl {
  direction: rtl !important;
}

.unset {
  direction: unset !important;
}

.div a {
  color: var(--link-purple-primary);
}

// .colored {
//   color: var(--link-purple-primary) !important;
// }

.error {
  padding: 10px;
  border-radius: 20px !important;
  background-color: var(--pink-primary) !important;
  text-align: center !important;
}

.footer {
  padding: 24px 50px;
  color: var(--link-purple-primary);
  font-size: 17px;
  text-align: right;
  direction: rtl !important;
  background-color: var(--pink-primary) !important;
}

.header {
  direction: rtl !important;
  color: var(--link-purple-primary);
  padding: 0 50px;
  position: "fixed" !important;
  z-index: 1 !important;
  width: "100%" !important;
  min-height: 100px !important;
  background-image: url(../../../assets/images/header.png);
  background-size: 100px;
}

.img-responsive {
  display: inline;
  max-width: 100%;
}

.inner-content {
  background-color: white;
  padding: 30px !important;
  border-radius: 5px !important;
}

.home-card {
  margin: 10px !important;
  border-radius: 10px !important;
}

.home-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--background-primary);
}

.entertainment-card {
  border-radius: 10px !important;
  margin: 10px !important;
  text-align: center !important;
}

.entertainment-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--background-primary);
}

.editor {
  border-radius: 10px !important;
  background-color: #ffddf14d;
}

.login {
  background: url(../../../assets/images/login.jpg) no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 785px;
}

.login-form {
  // text-align: right !important;
  // margin: auto !important;
  // width: 800px !important;
  padding: 50px !important;
  margin-top: 170px !important;
  background-color: #f7d5f7 !important;
  border-radius: 50px !important;
  // overflow-x: hidden;
}

.signUp-form {
  padding: 50px !important;
  margin-top: 50px !important;
  background-color: #f7d5f7 !important;
  border-radius: 50px !important;
}

.dashboard-img {
  border-radius: 50% !important;
  height: 150px !important;
  width: 150px !important;
}

.dashboard-txt {
  text-align: center !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.dashboard-profile {
  text-align: center !important;
  overflow: hidden !important;
  background-color: #fbe2f2 !important;
  padding-top: 20px !important;
}

.dashboard-card {
  border-radius: 10px !important;
}

.dashboard-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--background-primary);
}

.justify {
  text-align: justify !important;
}

.center {
  text-align: center !important;
}

.spectrum-background {
  border-radius: 10px !important;
  height: 400px;
  background: linear-gradient(rgb(255, 205, 112), transparent),
    linear-gradient(to top left, rgb(250, 148, 250), transparent),
    linear-gradient(to top right, rgb(76, 0, 175), transparent);
  background-blend-mode: screen;
}

/* overWrite */

.ant-card-meta-avatar {
  float: right !important;
  padding-left: 16px !important;
}

.ant-btn {
  border-radius: 10px !important;
  background: var(--background-primary) !important;
}

.ant-card-meta-description {
  text-align: justify !important;
}

.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  margin-right: 9px !important;
}

.ant-table-thead > tr > th {
  text-align: start !important;
}
